@import "/src/styles/sass/main.scss";

:host {
  display: none;
  height: 69.3rem;
  background-color: $sunflower;
  width: 100%;


}

.welcome {
  //
  height: 100%;

  // padding: 9rem $default-gutter-vertical;

  &__title {
    width: 30.7rem;
    margin-top: 5rem;
    margin-bottom: 2.7rem;
    @include heading-extra-large-mobile;
  }

  &__label {
    @include heading-large-mobile;
    width: 22.4rem;
    margin-bottom: 2rem;
  }

  &__select {

    &--options {
      margin-right: 1rem;
      position: relative;
      &::after{
        position: absolute;
        top: 0;
        right: 0;
        width: 3.2rem;
        height: 3.2rem;
        background: url('/assets/icons.svg#arrow-circle-up');
    
      }
    }

    &-btn {
      color: $sunflower;
      width: 6.8rem;
      height: 3.7rem;
      // letter-spacing: 1.5px;
    }
  }

  &__content {
    background-color: $sunflower;
    @include flex(column, space-between, flex-start);
    padding: 9rem $default-gutter-horizontal;

    &>* {
      max-width: 30.7rem;
    }
  }
}
