<ng-container class="welcome">
  <div class="welcome__content">
    <img src="/assets/logo-objects.png"
         alt="figma logo">
    <h1 class="welcome__title">Welcome!</h1>
    <label for="locate"
           class="welcome__label">select where you are
      shopping from:</label>
    <div class="welcome__select"> <select name="locate"
              id=""
              class="welcome__select--options">
        <option value="us">United States</option>
        <option value="us">European Union</option>
        <option value="us">Japan</option>
        <option value="us">Canada</option>
        <option value="us">United Kingdom</option>
        <option value="us">Elsewhere</option>
      </select>
      <button class="welcome__select-btn btn--action">Go</button>
    </div>

    <p>We currently ship to the European Union,
      Japan, Canada, the United Kingdom, and the
      United States. We’ll be working with our
      vendors to expand warehousing and shipping
      operations so that we can bring The Figma
      Store to more countries in the future. Stay
      tuned for updates and thank you for your
      understanding.</p>
  </div>
</ng-container>
