<section class="cart">
    <h3 class="cart__count"><span>{{cartCount}}</span> items in Cart</h3>
    <div class="cart__items">
        <ng-container *ngIf="cartCount == 0; else displayCartItems">
            <h2> EMPTY CART, AAACKKK</h2>
            <a class="cart__close"
               routerLink="/">See All Products</a>
        </ng-container>
    </div>

    <ng-template #displayCartItems>
        <div class="cart__contents">
            <h3 class="cart__contents--labels">Item</h3>
            <button (click)="emptyCart()">Remove All <svg xmlns="http://www.w3.org/2000/svg"
                     class="xs">
                    <use xlink:href="/assets/icons.svg#close"></use>
                </svg></button>
           
            <ul class="cart__contents--list">

                <li *ngFor="let item of productList "
                    class="cart__contents--list-item">

                    <figure>
                        <img [src]="item.productImg"
                             class="cart__contents--list-item-photo">
                    </figure>

                    <a class="cart__contents--list-item-name"
                       [routerLink]="['/product', item.id]">{{item.productName}}</a>

                    <button class="remove-btn"
                            (click)="removeItem(item.id)">

                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="xs">
                            <use xlink:href="/assets/icons.svg#close"></use>
                        </svg>
                    </button>

                    <span class="cart__contents--list-item-quantity">

                        <button class="decrease-btn"
                                (click)="updateQuantity('decrease', item.id)">

                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="xs">

                                <use xlink:href="/assets/icons.svg#minus"></use>
                            </svg>
                        </button>

                        <span class="cart__contents--list-item-quantity-count">{{item.quantity}}</span>

                        <button class="increase-btn"
                                (click)="updateQuantity('increase', item.id)">

                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="xs">
                                <use xlink:href="/assets/icons.svg#plus"></use>
                            </svg>
                        </button>
                    </span>

                    <span class="cart__contents--list-item-price">{{item.price |
                        currency}}</span>

                    <span class="cart__contents--list-item-total">{{item.price * item.quantity|
                        currency}}</span>
                </li>
            </ul>
        </div>

        <div class="cart__summary">
            <h4>Shipping
            </h4>

            <span class="cart__total">Total* {{cartTotal | currency}}</span>

            <button (click)="updateAndSaveCart()">UPDATE CART</button>

            <a class="cart__checkout"
               routerLink="#">checkout</a>

            <p>*Taxes and shipping collected at checkout</p>
        </div>








    </ng-template>


</section>