<section class="about">

        <!-- <svg xmlns="http://www.w3.org/2000/svg"  class="aboutsvg">
            <defs>
                <pattern id="template--15800909201591__1634231695ab1e43fb"
                         patternUnits="objectBoundingBox"
                         width="1"
                         height="1">
                    <image href="https://store.figma.com/cdn/shop/files/AD1A2554-3_1000x.jpg?v=1636584700"
                           x="0"
                           y="0"
                           width="100%"
                           height="100%"
                           class="pattern-image"
                           preserveAspectRatio="xMidYMid slice"></image>
                </pattern>
            </defs>
            <use xlink:href="/assets/pages.svg#about"></use>
          </svg> -->

          <svg class="about__svg" width="650" height="650" viewBox="0 0 650 650" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <pattern id="template--15800909201591__1634231695ab1e43fb" patternUnits="objectBoundingBox" width="1" height="1">
                    <image href="//store.figma.com/cdn/shop/files/AD1A2554-3_1000x.jpg?v=1636584700" x="0" y="0" width="100%" height="100%" class="pattern-image" preserveAspectRatio="xMidYMid slice"></image>
                </pattern>
            </defs>
            <path d="M647.629 324.502L649.477 323.737L647.629 324.502L553.485 97.2187C553.353 96.9001 553.1 96.6469 552.781 96.5148L325.498 2.37091C325.179 2.23889 324.821 2.23895 324.502 2.37091L323.737 0.523193L324.502 2.37097L97.2187 96.515C96.9 96.6469 96.6469 96.9001 96.5149 97.2188L2.37092 324.502C2.23893 324.821 2.23893 325.179 2.37093 325.498L96.5149 552.781C96.6469 553.1 96.9 553.353 97.2187 553.485L324.502 647.629C324.821 647.761 325.179 647.761 325.498 647.629L552.781 553.485C553.1 553.353 553.353 553.1 553.485 552.781L647.629 325.498C647.761 325.179 647.761 324.821 647.629 324.502Z" fill="url(#template--15800909201591__1634231695ab1e43fb)"></path>
        </svg>

    <section class="about__content">

        <h2 class="about__sub-title">About</h2>

        <p class="about__text">Welcome to the Figma Store, a collection of Figma apparel (layers) and accessories
            (components) designed
            for our community.</p>
    </section>

    <section class="donations__content">

        <figure class="donations__badge">
            <!-- TO-DO => add badge-->
        </figure>

        <h2 class="donations__title">100% OF PROCEEDS ARE DONATED</h2>

        <p class="donations__text">Any and all profits we generate from the store will be used to purchase carbon
            removal credits via
            reforestation from TIST (The International Small Group and Tree Planting Program). TIST is an innovative
            time-tested reforestation program that supports subsistence farmers in Kenya, Uganda, and Tanzania to
            tackle
            sustainable development and climate change through education and tree planting.
        </p>

        <a href="https://program.tist.org/">Learn more about TIST ↗</a>

    </section>

    <section class="faq">

        <h2 class="faq__title">FAQ</h2>

        <ul class="faq__qAndA--list">

            <li *ngFor="let item of qAndA"
                class="faq__qAndA--item">

                <div class="faq__qAndA--question">
                    <img [src]="item.icon"
                         class="faq__qAndA--question-icon"
                         alt="question-icon">

                    <h3 class="faq__qAndA--question-text">
                        {{item.question}}</h3>
                </div>

                <p class="faq__qAndA--anwser">{{item.answer[0]}}</p>

                <ng-container *ngIf="item.answer[1]">
                    <p class="faq__qAndA--anwser">{{item.answer[1]}}</p>
                </ng-container>

            </li>
        </ul>
    </section>
</section>

<section class="customer-care">

    <section class="customer-care__content">

        <h2 class="customer-care__title">Customer Care</h2>

        <ul class="customer-care__list"
            id="contact">

            <li *ngFor="let care of customerCare"
                class="customer-care__list--item">
                <div class="customer-care__topic--title">

                    <img [src]="care.icon"
                         alt="care-icon"
                         class="customer-care__icon">

                    <h3 class="customer-care__topic">
                        {{care.topic}}</h3>
                </div>

                <p class="customer-care__action">{{care.action[0]}}</p>

                <ng-container *ngIf="care.action[1]">
                    <p class="customer-care__action">{{care.action[1]}}</p>
                </ng-container>

                <ng-container *ngIf="care.action[2]">
                    <p class="customer-care__action">{{care.action[2]}}</p>
                </ng-container>
            </li>
        </ul>
    </section>
</section>