$black-out: hsl(0, 0%, 0%);
$polar-bear-in-a-blizzard: hsl(0, 0%, 100%);
$fiery-glow: hsl(14, 89%, 53%);
$bio-punk: hsl(148, 84%, 36%);
$sunflower: hsl(47, 100%, 50%);
$placid-lilac: hsl(252, 100%, 86%);

$bgColors: (
    $bio-punk,
    $placid-lilac,
    $fiery-glow,
    $sunflower
);
$key: random(length($bgColors));
$nth: nth($bgColors, $key );

$random: $nth !default;

$font-size-default: 1.6rem;
$font-weight-default: 400;
$font-weight-heading-default: 700;
$letter-spacing-default: 0;
$line-height-default: 1.6rem;

$border-default: 2px solid $black-out;
$border-radius-default: 3.5rem;

$gutter-default-mobile: 1.5rem;
$vertical-padding-default: 1.25rem;
$horizontal-padding-default: 2rem;