$black-out: hsl(0, 0%, 0%);
$polar-bear-in-a-blizzard: hsl(0, 0%, 100%);
$fiery-glow: hsl(14, 89%, 53%);
$bio-punk: hsl(148, 84%, 36%);
$sunflower: hsl(47, 100%, 50%);
$placid-lilac: hsl(252, 100%, 86%);


/* generate random color variable for stars and review styling */
$bgColors: (
    $bio-punk,
    $placid-lilac,
    $fiery-glow,
    $sunflower
);
$key: random(length($bgColors));
$nth: nth($bgColors, $key );

$random: $nth !default;

.bioBkgnd {
    background-color: $bio-punk;
}

.sunBkgnd {
    background-color: $sunflower;
}


$font-size-default: 1.6rem;
$font-weight-default: 400;
$font-weight-heading-default: 700;
// $letter-spacing-default: 0;
$line-height-default: 1.6rem;

$border-default: 2px solid $black-out;
$border-thick: 4px solid $black-out;
$border-radius-default: 3.5rem;

$default-gutter-mobile: 1.5rem;
$default-gutter-vertical: 1rem;
$default-gutter-horizontal: 2rem;
$container-gutter-vertical: 1rem;
$container-gutter-horizontal: 2rem;