@import "/src/styles/sass/abstracts/variables";
@import "/src/styles/sass/abstracts/mixins";
@import "/src/styles/sass/base/fonts";
@import "/src/styles/sass/base/typography";


.footer {
  position: relative;
  width: 100vw;
  height: fit-content;
  @include flex(column, center, center);
  bottom: 0;
  left: 0;
  padding: 6rem $default-gutter-mobile 0;
  background-color: $random;

  &__logo {
    // @include heading-large-mobile;
    img{min-width: 10rem;
    min-height: 17.3rem;}
    
    // padding: 6rem;
    // border-radius: 50%;
    // @include flex(column, space-between, center);
  }

  &__content {
    display: grid;
    grid-column-gap: 2rem;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    row-gap: 4rem;
    grid-template-columns: 2fr 1fr auto;

    width: 100%;
    margin-top: 2.7rem;
    margin-bottom: 4.5rem;

    &--text {
      @include heading-large-mobile;
      grid-column: span 2;
    }

    &--icon img {
      grid-column: span 1;
      height: 4rem;
      width: 4rem;
    }
  }

  &__legal {

    &--link {
      @include body-text-link-secondary;
      padding-bottom: 2.2rem;
    }
  }

  &__social {
    grid-column: 2/span 2;

    &--link {
      @include body-text-link-primary;
      padding-bottom: 2.4rem;
    }
  }

}