@import "/src/styles/sass/main.scss";

.footer {
  width: 100vw;
  min-height: 71.3rem;
  background-color: $sunflower;
  @include flex(column, center, center);
  position: static;
  bottom: 0;
  padding: $vertical-padding-default $horizontal-padding-default;

  &__logo {}

  &__nav-to-top {
    @include flex(row, space-between, center);
    width: 100%;
    margin-top: 2.7rem;
    margin-bottom: 4.5rem;
  }

  &__nav {
    &--text {
      width: 26.8rem;
      @include heading-large-mobile;
    }

    &--icon img {
      height: 4rem;
      width: 4rem;

    }
  }

  &__links {
    width: 100%;
    @include flex(row, flex-start, flex-start);
  }

  &__legal,
  &__social {
    @include flex(column, center, flex-start);
  }

  &__legal {
    width: 18rem;
    margin-right: $vertical-padding-default;

    * {
      @include body-text-link-secondary;
      padding-bottom: 2.2rem;

    }

    &--link {}
  }

  &__social {
    * {
      @include body-text-link-primary;
      padding-bottom: 2.4rem;

    }

    &--link {}
  }

}
