<footer class="footer"
        [ngStyle]="{'background-color':  bkgrndColor}">
  <a href="#shop"
     class="footer__content--icon footer-logo">
    <svg xmlns="http://www.w3.org/2000/svg">
      <use [attr.xlink:href]=logo></use>
    </svg>
  </a>

  <div class="footer__content">

    <h3 class="footer__content--text">Objects That Inspire.</h3>

    <button (click)="scrollToTop()" 
       class="footer__content--icon">
      <svg xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="assets/icons.svg#arrow-circle-up"></use>
      </svg>
    </button>

    <ul class="footer__legal">

      <li *ngFor="let links of footerLinks.legal"
          class="footer__legal--link">

        <a routerLink="{{links.link}}"
           class="footer__legal--link">{{links.text}}</a>
      </li>
    </ul>

    <ul class="footer__social">
      <li class="footer__social--link"
          *ngFor="let links of footerLinks.social">
        <a href="{{links.link}}"
           class="footer__legal--link">{{links.text}}</a>
      </li>
    </ul>
  </div>

  <div class="footer__ticker">
    <div class="footer__ticker--tape">
      <span *ngFor=" let item of tickerTapeItems">
        <span *ngIf="item.word; else showShape">{{item.word}}</span>
        <ng-template #showShape>
          <svg xmlns="http://www.w3.org/2000/svg"
               class="xs">
            <use [attr.xlink:href]="item.shape"></use>
          </svg>
        </ng-template>
      </span>
    </div>
  </div>

</footer>