<div class="content">
    <h2 class="title">Privacy & Terms</h2>
    <section class="privacy">

        <p class="privacy__text--last-update">Last Updated: {{updatedLast}}</p>
        <p class="privacy__text">
            Welcome to the online store of Figma, Inc. (“<b>Figma</b>”) located at www.store.figma.com (the
            “<b>Site</b>”).
            Figma
            provides this Site as a service to our customers. Please read the following terms of service
            (“<b>Terms</b>”) as
            they
            govern your use of our Site and our services and content accessible via our Site. To make these Terms easier
            to
            read, the Site and such services and content are collectively called the “<b>Services</b>.”</p>
        <p class="privacy__text">
            By using our Services, you agree to be bound by these Terms. If you don’t agree to be bound by these Terms,
            do
            not use the Services.</p>
        <p class="privacy__text">
            We may update the Terms at any time. If we do so, we’ll let you know either by posting the updated Terms on
            the
            Site or through other communications. It’s important that you review the Terms whenever we update them or
            you
            use the Services. If you continue to use the Services after we have posted updated Terms, you are agreeing
            to be
            bound by the updated Terms. If you don’t agree to be bound by the updated Terms, then you may not use the
            Services anymore. Because our Services are evolving over time we may change or discontinue all or any part
            of
            the Services, at any time and without notice, at our sole discretion.

        </p>
    </section>

    <section class="terms">

        <p class="terms__text--important">IMPORTANT: THESE TERMS INCLUDE A BINDING ARBITRATION CLAUSE BELOW.</p>

        <div class="terms__list">

            <div *ngFor="let term of terms"
                 class="terms__list--item">

                <h4 class="terms__title">{{term.term}}</h4>
                <ul class="terms__text--list"
                    *ngIf="term.text?.length > 1; else termItem">
                    <li *ngFor="let item of term.text"
                        class="terms__text--item">{{item}}</li>
                </ul>
                <ng-template #termItem>
                    <p class="terms__text">{{term.text[0]}}</p>
                </ng-template>

                <div>

                </div>

            </div>
        </div>
    </section>
</div>