@import "/src/styles/sass/abstracts/mixins";
@import "/src/styles/sass/abstracts/variables";


.hero {
  background-color: $sunflower;
  border-bottom: 4px solid $black-out;
  padding: 8.2rem 0 2rem;
  position: relative;
  overflow-x: hidden;

  &__carousel {
    // position: absolute;
    // left: 10%;
    // top: 30%;
    width: 100%;
    height: 100%;
    // overflow: hidden;

    padding-top: 5.8rem;

    background: #f7f8f8;
    padding: 2rem 0;
    // position: fixed;
    // // top: 0;
    // left: 0;
    // right: 0;

    // &:after {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   left: 0;
    //   right: 0;
    //   transform: translateY(-50%);
    //   background: #ddd;
    //   height: 5px;
    // }
    
  
      
    

    &--inner{ 
      // width: 20px;
      // height: 20px;
      // background: red;
      // border-radius: 50%;
      position: relative;
      z-index: 1;
      
      // position: absolute;
    //   left: 0;
    //   top: 0;
    height: 100%;
    display: flex;
  width: fit-content;
  @include flex(row, center, center);
// display: grid;
// grid-template-columns: repeat(7, 1fr);
// grid-auto-columns: min-content;
// grid-gap: 1rem;
pointer-events: none;
// transition: 0s ease-in;
}
  }

  img {
    width: 10rem;
    margin: 2rem;
    &:hover{
      cursor: pointer;
    }
  }

  &__badge {
    position: absolute;
    right: 2rem;
    bottom: calc(-17rem / 2);
    height: 17rem;
    width: 17rem;
    border: 4px solid $black-out;
    background-color: white;
    border-radius: 50%;

    &--icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8rem;
      height: 8rem;
      // padding: auto;
    }

    &--text {}
  }


}