<ng-container *ngIf="product">
  <div class="product-list__product">
    <figure>
      <!-- TO-Do => (functionality) add aria-hidden and lazy loading -->
      <img [src]="product.hoverPatternImg"
           alt="{{ product.name }}"
           class="product-list__product--hover-pattern" />

      <img [src]="product.hoverProductImg"
           alt="{{ product.name }}"
           class="product-list__product--hover-image" />

      <img [src]="product.productPhotos[0]"
           alt="{{ product.name }}"
           class="product-list__product--photo" />
    </figure>

    <div class="product-list__product--info">
      <ng-container *ngIf="product.new; else oldProduct">
        <div class="product-list__product--row">
          <p class="product-list__product--new">New!</p>

          <p class="product-list__product--price">
            {{ product.price | currency : "USD" : true : "1.0-0" }}
          </p>
        </div>

        <div class="product-list__product--row">
          <h3 class="product-list__product--desc">{{ product.name }}</h3>
        </div>
      </ng-container>

      <ng-template #oldProduct
                   class="product-list__product--row">

        <h3 class="product-list__product--desc">{{ product.name }}</h3>

        <p class="product-list__product--price">
        <!-- TO-DO =>  (functionality) change to custom currency pipe -->
          {{product.price | currencyConversion}}
          <!-- {{(product.price | currencyConversion: selectedCountry )| currency : "GBP" : true : "1.0-0"}} -->
          <!-- {{ product.price  }} -->
        </p>
      </ng-template>
    </div>
  </div>
</ng-container>