@import "/src/styles/sass/main.scss";
:host{
  
  &:not(:nth-child(10n+7)){
    grid-column: span 1;
  grid-row: span 1;}
  
  &:nth-child(10n+7), &:nth-child(10n+8) {
    grid-column: span 2;
    grid-row: span 2;
}

}
.product-list{
  display: grid;
  &__product {
    // display: flex;
    // flex-direction: column;

    @include heading-small-mobile;

    // flex: 1 1 40%;
    
    img {
      width: 100%;
      height: auto;
      // min-height: 22.27rem;
      border-radius: 3.5rem;
    }

    &--new {
      @include heading-small-mobile;
      color: $bio-punk;
      margin: $vertical-padding-default;
    }

    &--price {
      display: inline-block;
      text-align: end;
      margin: $vertical-padding-default 0 $vertical-padding-default auto;

    }
  
}
}
// .product {
//   flex: none;
//   order: 0;
//   flex-grow: 0;
//   z-index: 1;





//   &__price {}
// }
