.btn {
  border: $border-default;
  border-radius: $border-radius-default;
  background: transparent;
  width: 3.7rem;
  height: 3.8rem;
  padding: 1.4rem 1.2rem;
  @include flex(row, center, center);

  &--link {}

  &--action {
    border: $border-default;
    border-radius: $border-radius-default;
    border: none;
    background-color: $black-out;
    color: inherit;
    @include heading-medium-mobile;
    text-align: center;
  }
}

a {
  @include heading-medium-mobile;
  border: 2px solid $black-out;
  color: $black-out;
  border-radius: 3rem;
  display: inline-block;
  line-height: .9;
  padding: 1rem 2rem .9rem;
  text-decoration: none;

  &:hover {
    background-color: $black-out;
    color: $polar-bear-in-a-blizzard;

  }
}