
.btn {
  border: $border-default;
  border-radius: $border-radius-default;
  background: transparent;
  width: 3.7rem;
  min-height: 3.8rem;
  padding: 1.4rem 1.2rem;
  @include flex(row, center, center);
  @include heading-medium-mobile;
  text-align: center;
  fill: $black-out;
  transition: all .25s ease;

  &__action {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin: 0 0 0 .5rem;

    &:not(:first-of-type) {
      margin: 0 .5rem;
    }

    &:active,
    &:focus {
      fill: $black-out;
      background-color: $polar-bear-in-a-blizzard;
    }

    &:hover {
      fill: $polar-bear-in-a-blizzard;
      background-color: $black-out !important;
    }

    &:disabled {
      cursor: none;
      stroke: $polar-bear-in-a-blizzard !important;
      fill: $polar-bear-in-a-blizzard !important;
      border: rgba($black-out , .25) !important;
      background-color: rgba($black-out , .25) !important;
    }
  }

  &__cart--available,
  &__cart--unavailable {
    padding: 1.2rem 4rem .8rem 4rem;
    text-align: center;
    @include body-text-primary;
    font-weight: $font-weight-display;
    text-transform: uppercase;
    width: 100%;
    border-radius: 4rem !important;
  }

  &__cart {
    &--available:hover {
      color: $polar-bear-in-a-blizzard !important;
      background-color: $black-out !important;
    }

    &--unavailable {
      grid-row-start: 6;
      margin-top: $container-gutter-horizontal;
      border: none !important;
      cursor: not-allowed;
      background-color: rgba($black-out, 0.5) !important;
      color: $polar-bear-in-a-blizzard !important;
    }
  }
}

a {
  color: $black-out;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

}

.btn-toggle {
  border: none !important;
  color: rgba($random, .5);
  background: transparent;
}