button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
  @include heading-medium-mobile;
  //TO-DO (styles) => custom font does not work with form elements
  // font-family: Arial, Helvetica, sans-serif;
  color: $black-out !important;
  cursor: pointer;
}

form {
  padding: $default-gutter-vertical $default-gutter-horizontal;
}

input {

  width: 100%;
  border: none;
  // @include heading-medium-mobile;
  color: $black-out !important;

  [type=text] {

    &:placeholder-shown,
    &:indeterminate {
      color: $black-out !important;
    }



  }
}



select {
  border: $border-default;
  border-radius: $border-radius-default;
  padding: .5rem 2.2rem;
  margin-bottom: 5rem;
  background: url("/assets/icons/icons.svg#caret-down") no-repeat center right 0.75rem;
  line-height: 1.5rem;
  background-color: transparent;
}