select {
  border: $border-default;
  border-radius: $border-radius-default;
  @include body-text-secondary;
  @include flex(row, space-between, center);
  text-transform: uppercase;
  padding: .75rem 2.2rem;
  background-color: transparent;
}
