select {
  border: $border-default;
  border-radius: $border-radius-default;

  padding: .5rem 2.2rem;

  margin-bottom: 5rem;
  @include heading-medium-mobile;
  line-height: 1.5rem;
  background-color: transparent;
}
