<div class="reviews">

    <h3 class="reviews__title">Customer Reviews</h3>

    <div class="reviews__average">

        <p class="reviews__average--rating">{{averageRating | number : '1.1-1'}}</p>

        <div class="reviews__average--info">

            <span [innerHTML]="averageRatingStars"
                  class="reviews__average--stars"></span>

            <span class="reviews__average--amount">Based on {{(reviews| async)?.length }} Review<span>s</span></span>
        </div>
    </div>

    <button class="btn-toggle " *ngIf="mobileView"
     [ngClass]="{'close':showReviews == true,'open' : showReviews == false }"

            (click)="toggleReviews()">
        <span *ngIf="!showReviews;else close" class="open">See Reviews</span>
  <ng-template #close
                 class="close">Close </ng-template>   </button>

    <hr *ngIf="showReviews">

    <div class="reviews__list"
         *ngIf="showReviews">

        <div class="review"
             *ngFor="let review of (reviews|async); 
             even as isEven"
             [class.is-even]="isEven">

            <h4 class="review__name">{{review.name}}</h4>

            <div class="review__stars">
                <span [innerHTML]="getStars(review.rating)"></span>
            </div>

            <p class="review__text">{{review.review}}</p>
        </div>
    </div>
</div>