<div class="product-container">
  <ng-container *ngIf="(product$ | async) as product">
    <div class="product-grid">



      <div class="product-grid__feature">

        <figure>
          <img [src]="product.productPhotos[imgIdx]"
               alt="product.name">
        </figure>
      </div>

      <section class="product-grid__info">

        <ul class="product-grid__info--tags-list">
          <li *ngFor="let tag of product.tags"
              [ngClass]="{'bioBkgnd': tag === 'components', 'sunBkgnd' : tag === 'layers' }"
              class="product-grid__info--tag">{{tag}}</li>
        </ul>

        <h2 class="product-grid__info--title">{{product.name}}</h2>

        <p class="product-grid__info--description">
          {{product.description}}</p>

        <ul class="product-grid__info--features-list">

          <li *ngFor="let feature of product.features"
              class="product-grid__info--feature">{{feature}}</li>
        </ul>
        <figure class="product-grid__gallery">
          <img *ngFor="let photo of product.productPhotos;"
               [src]="photo"
               alt="product.name">
        </figure>
        <ng-container *ngIf="product.sizes">
          <div class="product-grid__info--sizes">
            <button *ngFor="let size of sizes">
              <ng-container *ngFor="let sizeName of size |keyvalue">{{sizeName.key }}</ng-container>
              <!-- TO-Do => add size chart -->
            </button>
          </div>
        </ng-container>

        <div class="product-grid__info--actions">

          <span class="variants"><button>-</button><span class="quantity">1</span><button>+</button></span>

          <span *ngIf="product.price == 0"
                class="sold-out">SOLD OUT</span>

          <span *ngIf="product.price != 0"
                class="add">add {{product.price | currency : 'USD' :true:'1.1-0'}}</span>
        </div>

      </section>
      <div class="product-grid__thumbnails">

        <figure *ngFor="let photo of product.productPhotos; let i = index"
                (click)="expandImg(i)">
          <img [src]="photo"
               alt="product.name">
        </figure>
      </div>
      <section class="product-grid__reviews">

        <app-review *ngIf="(reviews$ | async) as reviews"
                    [reviews]="reviews$"
                    [averageRating]="averageRating"
                    [averageRatingStars]="averageRatingStars"></app-review>
      </section>

    </div>
  </ng-container>
</div>