@import "/src/styles/sass/abstracts/variables";
@import "/src/styles/sass/abstracts/mixins";
@import "/src/styles/sass/base/fonts";
@import "/src/styles/sass/base/media-queries";
@import "/src/styles/sass/base/typography";

.product-container {
    width: 100vw;
    padding: 12rem 2rem;
}

.product-grid {
    @include body-text-primary;
    display: grid;
    grid-template-columns: 9rem repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 2rem;
    grid-row-gap: 0rem;

    &__thumbnails {
        grid-row: 1 /2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 9rem);
        grid-column-gap: 0px;
        grid-row-gap: 1rem;

        img {
            border-radius: 2rem;
            height: 9rem;
            width: 9rem;
            object-fit: cover;
        }
    }

    &__feature {
        display: flex;
        overflow: hidden;

        img {
            height: 100%;
            border-radius: 12rem;
            max-width: 100%;
            object-fit: cover;
        }
    }

    &__info {
        &--tag {
            @include flex(row, center, center);
            border-radius: $border-radius-default;
            text-align: center;
            padding: 1rem 2rem .5rem 2rem;
            margin-bottom: 3rem;
            @include heading-small-mobile;
            text-transform: uppercase;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
        }

        &--title {
            margin: $gutter-default-mobile 0;
            @include heading-medium-mobile;
        }

        &--sizes {
            margin-top: 2rem;
            @include flex(row, space-between, center);
            button {

                @include heading-small-mobile;
                background-color: transparent;
                border: 2px solid $black-out;
                border-radius: 50%;
                height: 4.8rem;
                width: 4.8rem;
                cursor: pointer;
            }
        }


        &--size-chart {
            margin-top: 5rem;
            width: 100%;
            border-top: 2px solid $random;
            border-bottom: 2px solid $random;
            @include body-text-secondary;

            &-heading {
                @include flex(row, space-between, center);
                @include heading-small-mobile;
                padding: .25rem .75rem;
            }


            &-content {
                margin-top: 2rem;
                width: 100%;


                thead {
                    @include flex(row, space-between, center);
                    width: 100%;

                    tr {
                        padding: 1rem .75rem .5rem .75rem;
                        background-color: rgba($random, .5);
                        @include body-text-primary;
                    }
                }

                tbody {
                    @include body-text-secondary;
                }

                tr {
                    @include flex(row, space-around, center);
                    width: 100%;
                    border-radius: $border-radius-default;

                    &:nth-of-type(even) {
                        background-color: rgba($random, .1);
                    }
                }

                td {
                    padding: .75rem .25rem .5rem .25rem;
                }

                th:first-child,
                td:first-child {
                    width: 10%;
                    text-align: center;
                }

                td:first-child {
                    font-weight: bold;
                }

                // th:nth-child(even),
                td:nth-child(even) {
                    width: 30%;
                    text-align: center;
                }

            }

            &-note {
                padding: 2rem;
                width: 100%;
                text-align: center;

                h4 {

                    margin-top: 1rem;
                    margin-bottom: .5rem;
                }

                // p {
                //     margin-bottom: .75rem;
                // }
            }




        }





        // @include flex(row, space-between, center);
        // flex-wrap: wrap;
        // 
        // 
        // width: 100%;
        // text-align: center;

        // table.GeneratedTable {
        //   
        //   background-color: #ffffff;
        //   border-collapse: collapse;
        //   border-width: 0px;
        //   border-color: #ffcc00;
        //   border-style: dashed;
        //   color: #000000;
        // }

        // table.GeneratedTable td, table.GeneratedTable th {
        //   border-width: 0px;
        //   border-color: #ffcc00;
        //   border-style: dashed;
        //   
        // }

        // table.GeneratedTable thead {
        //   background-color: #ffcc00;
        // }





        // thead {

        //     @include flex(row, space-evenly, center);

        //     width: 100%;
        // }

        // tbody {
        //     width: 100%;
        // }

        // tr {
        //     @include flex(row, center, space-between);
        //     width: 100%;
        // }

        // button img {
        //     height: 1.6rem;
        //     width: 1.6rem;
        // }

        // // 
        // padding: $gutter-default-mobile 0;
        // margin: $gutter-default-mobile 0;
        // }

        // btn-toggle 
        .btn-size {
            // display: inline;
        }

        &--actions {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 2rem;
            text-align: left;

            .variants {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 1.5rem;

                button {
                    @include body-text-primary;
                    background-color: transparent;
                    border: 2px solid $black-out;
                    border-radius: 50%;
                    margin: 0 .5rem;
                    height: 4.8rem;
                    width: 4.8rem;
                    cursor: pointer;
                }

                .quantity {
                    text-align: center;
                    width: 100%;
                    max-width: 6rem;
                }
            }

            .add,
            .sold-out {
                border-radius: 4rem;
                cursor: pointer;
                margin-top: 2rem;
                outline: none;
                padding: 1.2rem 4rem 1rem;
                text-align: center;
                text-transform: uppercase;
            }

            .add {
                background-color: transparent;
                border: 2px solid $black-out;
            }

            .sold-out {
                opacity: .5;
                background-color: $black-out;
                color: $polar-bear-in-a-blizzard;
            }
        }

        &--description {
            margin-top: 2.5rem;
        }

        &--features-list {
            margin-top: 1.8rem;
        }

        &--feature {
            font-style: italic;
        }
    }

    &__reviews {
        grid-column: 2 / span 2;
        grid-row-start: 2;
    }
}