<div class="product-container">
  <ng-container *ngIf="(product$ | async) as product">
    <div class="product-grid">

      <div class="product-grid__thumbnails">

        <figure *ngFor="let photo of product.productPhotos; let i = index"
                (click)="expandImg(i)">
          <img [src]="photo"
               alt="product.name">
        </figure>
      </div>

      <div class="product-grid__feature">

        <figure>
          <img [src]="product.productPhotos[imgIdx]"
               alt="product.name">
        </figure>
      </div>

      <section class="product-grid__info">

        <ul class="product-grid__info--tags-list">
          <li *ngFor="let tag of product.tags"
              [ngClass]="{'bioBkgnd': tag === 'components', 'sunBkgnd' : tag === 'layers' }"
              class="product-grid__info--tag">{{tag}}</li>
        </ul>

        <h2 class="product-grid__info--title">{{product.name}}</h2>

        <p class="product-grid__info--description">
          {{product.description}}</p>

        <ul class="product-grid__info--features-list">

          <li *ngFor="let feature of product.features"
              class="product-grid__info--feature">{{feature}}</li>
        </ul>
        <figure class="product-grid__gallery">
          <img *ngFor="let photo of product.productPhotos;"
               [src]="photo"
               alt="product.name">
        </figure>
        <ng-container *ngIf="product.sizes">
          <div class="product-grid__info--sizes">
            <button *ngFor="let size of sizes">
              <ng-container>{{size.abbrv}}</ng-container>
              <!-- *ngFor="let sizeName of size |keyvalue" -->
              <!-- TO-Do => add size chart -->
            </button>
          </div>
        </ng-container>

        <div class="product-grid__info--actions">

          <span class="variants"><button>-</button><span class="quantity">1</span><button>+</button></span>

          <span *ngIf="product.price == 0"
                class="sold-out">SOLD OUT</span>

          <span *ngIf="product.price != 0"
                class="add">add {{product.price | currency : 'USD': 'symbol' : '1.0-0' }}</span>
        </div>

        <p class="product-grid__info--description">
          {{product.description}}</p>

        <ul class="product-grid__info--features-list">

          <li *ngFor="let feature of product.features"
              class="product-grid__info--feature">{{feature}}</li>
        </ul>
        <div class="product-grid__info--size-chart">
          <span class="product-grid__info--size-chart-heading">
            <h3> Size Chart </h3>
            <button class="btn-toggle btn-size"
                    (click)="showChart = !showChart">
              <img src="assets/icons/plus.svg"
                   alt=""
                   *ngIf="!showChart">
              <img src="assets/icons/minus.svg"
                   alt=""
                   *ngIf="showChart"></button>
          </span>
          <ng-container *ngIf="showChart">
            <table class="product-grid__info--size-chart-content">
              <thead>
                <tr>
                  <th>Size</th>
                  <th>Body Length</th>
                  <th>Chest</th>
                  <th>Sleeve Length</th>
                </tr>
              </thead>

              <tbody>
                <ng-container *ngFor="let size of sizes">
                  <tr>
                    <td>{{size.abbrv}}</td>
                    <td>{{size.bodyLength}}</td>
                    <td>{{size.chestWidth}}</td>
                    <td>{{size.sleeveLength}}</td>

                  </tr>
                </ng-container>

              </tbody>
            </table>
            <div  class="product-grid__info--size-chart-note">
              <h4>Body Length</h4>
              <p>Shoulder seam at collar to bottom hem</p>
              <h4>Chest Width</h4>
              <p>Side to side 1 inch below the sleves</p>
            </div>
          </ng-container>





        </div>
      </section>
      <div class="product-grid__thumbnails">

        <figure *ngFor="let photo of product.productPhotos; let i = index"
                (click)="expandImg(i)">
          <img [src]="photo"
               alt="product.name">
        </figure>
      </div>
      <section class="product-grid__reviews">

        <app-review *ngIf="(reviews$ | async) as reviews"
                    [reviews]="reviews$"
                    [averageRating]="averageRating"
                    [averageRatingStars]="averageRatingStars"></app-review>
      </section>

    </div>
  </ng-container>
</div>