@mixin heading-extra-large {
  font-family: $font-display;
  font-weight: $font-weight-display;
  text-transform: uppercase; 
}

@mixin heading-extra-large-mobile {
  @include heading-extra-large;
  font-size: 2.7rem;
  line-height: 1.2rem;

}

@mixin heading-large {
  font-family: $font-display;
  font-weight: $font-weight-display;
}

@mixin heading-large-mobile {
  @include heading-large;
  font-size: 3.6rem;
  line-height: 4.4rem;
  letter-spacing: $letter-spacing-default;
  text-align: left;
  text-transform: uppercase;
}

@mixin heading-medium {
  font-family: $font-display;
  font-weight: $font-weight-display;
}

@mixin heading-medium-mobile {
  @include heading-medium;
  font-size: 1.8rem;
  // line-height: 1.4rem;
  text-transform: uppercase;
  text-align: left;
}

@mixin heading-small {
  font-family: $font-display;
  font-weight: $font-weight-display;
  line-height: 1.4rem;
}

@mixin heading-small-mobile {
  @include heading-small;
  letter-spacing: $letter-spacing-default;
  font-weight: $font-weight-default;
  font-size: 1.4rem;
  line-height: 1.4rem;

}

@mixin body-text-primary {
  font-family: $font-body;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: $font-weight-body;
}

@mixin body-text-link-primary {
  font-weight: $font-weight-default;
  font-family: $font-body;
  color: $black-out;
  font-size: 1.7rem;
  line-height: 2.1rem;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-align: left;
}


@mixin body-text-link-secondary {
  @include body-text-link-primary;
  font-weight: $font-weight-default;
  text-decoration-line: none;
  text-transform: capitalize;
  font-size: 1.575rem;

  // line-height: 1.6rem;
  &:hover {
    text-decoration-line: underline;
  }
}


body {
  @include body-text-primary;
  font-family: $font-body;
  color: $black-out;
}