<section class="call-to-action">
<h2 class="call-to-action__container">
    <span *ngFor="let word of words"
                  class="call-to-action__item">

        <a *ngIf="word.filterTo; else noFilter"
           [routerLink]="['/find', word.word]"
           class="call-to-action__item--filter">
            {{word.word}} 
            <!-- TO-DO =>  change to /product-list -->
        </a>
        <ng-template #noFilter>
            <span class="call-to-action__item--word"
               *ngIf="!word.filterTo">{{word.word}}</span>
        </ng-template>

        <img *ngIf="word.symbol"
             [src]=word.symbol
             aria-hidden="true"
             class="call-to-action__item--symbol">

    </span></h2>
</section>