@import "/src/styles/sass/main.scss";


.blurb {
  border-top: 4px solid $black-out;
  padding: 8rem $horizontal-padding-default;
  transition: opacity .3s ease-in;


  h2 {
    @include heading-medium-mobile;
    text-align: center;
    font-size: 2.7rem;
    line-height: 1.2;
  }

  :hover {
    &:not(a) {
      opacity: .7;

      //   transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      //   transition: opacity 0.5s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.5s cubic-bezier(0.5, 0, 0, 1) 0s;
    }

  }





  a {
    color: $black-out;
  }

  img {
    width: 2.4rem;
    margin: 0 .7rem;
  }
}


.inventory {


  &__list {
    margin: $vertical-padding-default;
   @include flex(row, space-between, center);
    flex-wrap: wrap;
    &--product {
      display: flex;
      flex-direction: column;
      margin: 1rem;
      @include heading-small-mobile;
      max-width: 16.75rem;
      flex: 1 1 40%;

      img {
        width: 100%;
        height: 22.27rem;
        border-radius: 3.5rem;
      }

      &-new {
        @include heading-small-mobile;
        color: $bio-punk;
        margin: $vertical-padding-default;
      }

      &-price {
        display: inline-block;
        text-align: end;
        margin: $vertical-padding-default 0 $vertical-padding-default auto;

      }
    }
  }


}


// @import "/src/styles/sass/main.scss";

.product {




  &__photo {}

  &__price {}
}
