

  <nav class="nav" id="scrollToTop">
    <div class="nav__left">
      <a class="nav__link--menu"
         *ngIf="isMobile">
        <img src="assets/icons/list.svg">
      </a>
      <a href='#shop'
         class="nav__link"
         *ngIf="!isMobile">Shop</a>

      <a routerLink='about'
         class="nav__link"
         *ngIf="!isMobile">About</a>

      <a class="nav__search">
        <img src="assets/icons/magnifying-glass.svg"
             class="">
      </a>
    </div>

    <a routerLink="/"
       class="nav__logo">
      <img src="//cdn.shopify.com/s/files/1/0576/8364/0503/t/4/assets/logo-full.static.svg?v=89107020529489074251658098331"
           class="logo"
           alt="The Figma Store" />
    </a>

    <div class="nav__right">

      <a class="nav__locate" *ngIf="isMobile">
        <img src="assets/icons/map-pin.svg"
         class=""></a>

      <select id="header-country-select"
              class="country-select" *ngIf="!isMobile">

        <option value="store-ca">Canada</option>
        <option value="store-jp">Japan</option>
        <option value="store-uk">United Kingdom</option>
        <option value="store">United States</option>
        <option value="store">I&#39;m just browsing</option>

      </select>

      <a routerLink="cart"><span data-cart-count
              class="">0</span></a>
    </div>
  </nav>
