

  <nav class="nav"
       id="scrollToTop">

  <div class="nav__container">
    <div class="nav__container--left">


      <div *ngIf="!isMobile; else mobileMenuToggle">
        <!-- default menu links for desktop -->
        <div class="nav__links--desktop">
          <ng-container *ngTemplateOutlet="navDefaultLinks"></ng-container>
        </div>
      </div>

      <!-- burger toggle for mobile -->
      <ng-template #mobileMenuToggle>
        <div class="nav__toggle">

          <input type="checkbox"
                 id="nav-toggle">

          <label for="nav-toggle"
                 class="nav__toggle--icons">

            <span></span>
          </label>

          <div class="nav__toggle--background">

            <div class="nav__links">
        
                <ng-container *ngTemplateOutlet="navDefaultLinks"></ng-container>
        
                <ng-container *ngTemplateOutlet="navLegalLinks"></ng-container>
              </div>
          </div>
        </div>
      </ng-template>

      <!-- search button -->
      <div class="nav__search">
        <ng-container *ngTemplateOutlet="searchIcon"></ng-container>
      </div>
    </div>


    <!-- logo -->
    <a routerLink="/"
       class="nav__logo">
      <img src="//cdn.shopify.com/s/files/1/0576/8364/0503/t/4/assets/logo-full.static.svg?v=89107020529489074251658098331"
           class="logo"
           alt="The Figma Store" />
    </a>

    <div class="nav__container--right">

      <!-- location select -->
      <div class="nav__location">
        <ng-container *ngIf="isMobile">
          <ng-container *ngTemplateOutlet="locationIcon"></ng-container>
        </ng-container>

        <!-- TO-DO => add hidden class funtionality for mobile -->
        <select id="location-select"
                class="nav__location--select">

          <option value="store-ca">Canada</option>
          <option value="store-jp">Japan</option>
          <option value="store-uk">United Kingdom</option>
          <option value="store">United States</option>
          <option value="store">I&#39;m just browsing</option>
        </select>
      </div>

      <div class="nav__cart">
        <a class="nav__cart--link"
           routerLink="cart">
          <p *ngIf="!isMobile">Cart</p>
          <span data-cart-count
                class="nav__cart--count">0</span>
        </a>
      </div>

    </div>

  </div>


  <ng-template #navDefaultLinks>
    <menu class="nav__links--default">
      <a href='#shop'
         class="nav__link--item">Shop</a>

      <a routerLink='about'
         class="nav__link--item">About</a>
    </menu>
  </ng-template>

  <ng-template #navLegalLinks>
    <menu class="nav__links--legal">
      <li *ngFor="let links of legalLinks"
          class="nav__legal--link">

        <a routerLink="{{links.link}}"
           class="nav__legal--link">{{links.text}}</a>
      </li>
    </menu>
  </ng-template>

  <ng-template #searchIcon>
    <a class="nav__search">
      <img src="assets/icons/magnifying-glass.svg"
           class="">
    </a>
  </ng-template>

  <ng-template #locationIcon>
    <button class="nav__location--icon"
            (click)="showlocationSelector()">
      <img src="assets/icons/map-pin.svg"
           class="pin-icon">
    </button>
  </ng-template>
</nav>